
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;  
    margin: 25px;     
    background: #f4f4f4;   
    color: #333333;       
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 25px; 
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 6px; 
}

h3 {
    color: #e74c3c;
    margin-top: 20px; 
}

h4 {
    color: #27ae60;
}

p {
    margin-bottom: 18px;
}

ul {
    list-style-type: square;
    margin-left: 22px;
}

li {
    margin-bottom: 7px; 
}


strong {
    font-weight: bold;
    color: #8e44ad;  
}

em {
    font-style: italic;
    color: #f39c12;  
}

u {
    text-decoration: underline;
}

mark {
    background-color: #f1c40f;
    padding: 3px 4px;
}

code {
    background-color: #ecf0f1;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
}
